
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1463126071'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1463126071#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf?t=1463126071') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1463126071#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dayinji:before { content: "\e69a"; }
.icon-weifenxiaopcjiemianzhuanhuan:before { content: "\e636"; }
.icon-daifahuo:before { content: "\e639"; }
.icon-jikediancanicon41:before { content: "\e798"; }
